.custom-header .navbar {
	text-align: center;
	background-color: #2B2B82;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');

body.calcite {
	background-color: #fff;
	color: #636363;
	font-family: 'Poppins', Avenir Next;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', Avenir Next;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 16px;
}

.extra-small {
	font-size: 10px;
}

.small {
	font-size: 12px;
}

.large {
	font-size: 18px;
}

.extra-large {
	font-size: 20px;
}

a,
.btn-link {
	color: #0079c1;
}

a:hover,
.btn-link:focus,
a:focus,
.btn-link:hover {
	color: #00598e;
	outline-color: #0079c1;
}

a.disabled,
a[disabled],
.btn-link.disabled,
.btn-link[disabled] {
	color: #0079c1;
}

input.form-control:focus {
	border-color: #0079c1;
}

button:focus,
.btn:focus,
input:focus,
.form-control:focus {
	outline-color: #0079c1;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#0079c1, 0.6);
}

.btn-primary {
	border-color: #c4001e;
	background-color: #c4001e;
	color: #fff;
	fill: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
	border-color: #910016;
	background-color: #910016;
	color: #fff;
	fill: #fff;
}

a.btn.btn-primary.disabled,
a.btn.btn-primary[disabled],
button.btn.btn-primary.disabled,
button.btn.btn-primary[disabled] {
	border-color: #910016;
	background-color: #910016;
	color: #fff;
	fill: #fff;
}

.btn-default {
	border: 1px solid #0079c1;
	color: #0079c1;
	background-color: #fff;
	fill: #0079c1;
}

a.btn-default:hover,
a.btn-default:focus,
button.btn-default:hover,
button.btn-default:focus,
button.btn-default:active,
.btn-default:hover,
.btn-defaut:focus,
.btn-default:active {
	border-color: #00598e;
	color: #fff;
	fill: #fff;
	background-color: #00598e;
}

a.btn.btn-default.disabled,
a.btn.btn-default[disabled],
button.btn.btn-default.disabled,
button.btn.btn-default[disabled] {
	border: 1px solid #0079c1;
	color: #0079c1;
	background-color: #fff;
	fill: #0079c1;
}

.btn-diagonal {
	background-color: #c4001e;
	background: -webkit-linear-gradient(-30deg, #c4001e 50%, #910016 50%);
	background: -ms-linear-gradient(-30deg, #c4001e 50%, #910016 50%);
	background: -moz-linear-gradient(-30deg, #c4001e 50%, #910016 50%);
	background: linear-gradient(-30deg, #c4001e 50%, #910016 50%);
	color: #fff;
	border: 1px solid #910016;
}

.btn-diagonal:hover,
.btn-diagonal:focus {
	color: #fff;
	background-color: #910016;
	background: -webkit-linear-gradient(-30deg, #910016 50%, #c4001e 50%);
	background: -ms-linear-gradient(-30deg, #910016 50%, #c4001e 50%);
	background: -moz-linear-gradient(-30deg, #910016 50%, #c4001e 50%);
	background: linear-gradient(-30deg, #910016 50%, #c4001e 50%);
	border: 1px solid #910016;
}

.btn-info {
	background-color: transparent;
	color: #636363;
	fill: #636363;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
	background-color: rgba(#636363, 0.1);
}

a.btn.btn-info.disabled,
a.btn.btn-info[disabled],
button.btn.btn-info.disabled,
button.btn.btn-info[disabled] {
	border: 0;
	color: #636363;
	fill: #636363;
}

.btn-info svg {
	fill: #636363;
}

.btn.btn-svg svg {
	fill: #0079c1;
}

.back-button a,
.back-button button,
.back-button svg {
	fill: #636363;
	color: #636363;
}
